.container {
    width: 100vw;
    background-color: #87b5b5;
    padding: 20px 0;
}

.editor {
    margin: 0 auto 20px;
    width: fit-content;
    border: 1px solid #1d2f2f;
    box-shadow: 1px 1px 10px 2px #3a5f5f;
    height: 176px;
}

.previewer {
    margin: auto;
    width: fit-content;
    max-width: 630px;
    border: 1px solid #1d2f2f;
    box-shadow: 1px 1px 10px 2px #3a5f5f;
}

.content {
    background-color: #c0d8d8;
    padding: 1rem;
}

.previewer img {
    max-width: 100%;
}

.head {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    background-color: #4aa3a3;
}

.head > :last-child {
    transition: 0.1s;
    cursor: pointer;
}

.head > :last-child:hover {
    color: white;
}

.head > div {
    display: flex;
}

.head > div h5 {
    margin-left: 5px;
}

.textarea {
    min-width: 550px;
    max-width: 550px;
    height: 150px;
    background-color: #c0d8d8;
    padding: 10px;
}

.container2 {
    width: 100vw;
    background-color: #87b5b5;
    padding: 20px 0;
    height: 100vh;
}

.textarea2 {
    min-width: 550px;
    max-width: 550px;
    height: 100%;
    background-color: #c0d8d8;
    padding: 10px;
}

.editor2 {
    margin: 0 auto 20px;
    width: fit-content;
    border: 1px solid #1d2f2f;
    box-shadow: 1px 1px 10px 2px #3a5f5f;
    height: 95%;
}

.previewer h1 {
    font-size: 30px;
}

.previewer h1,
.previewer h2 {
    border-bottom: 1px solid #224b4b
}

.previewer .content * {
    margin-bottom: 10px;
}

.previewer .content pre,
.previewer .content code {
    background-color: white;
    padding: 3px;
}

.previewer .content ul,
.previewer .content ol {
    padding-left: 40px;
}